/* line 3, ../../sass/layouts/admin.sass */
a {
  color: #73822f;
}
/* line 5, ../../sass/layouts/admin.sass */
a:hover, a:focus {
  color: #525d21;
  text-decoration: none;
}

/* line 9, ../../sass/layouts/admin.sass */
body {
  background-color: #858566;
  color: black;
}

/* line 13, ../../sass/layouts/admin.sass */
footer {
  background-color: #73822f;
  color: white;
  font-family: serif;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* line 20, ../../sass/layouts/admin.sass */
header {
  margin: 20px;
}

/* line 23, ../../sass/layouts/admin.sass */
.container {
  background-color: #b1a077;
  box-shadow: 0 0 30px #4d3e2f;
}

/* line 27, ../../sass/layouts/admin.sass */
#content {
  background: none repeat scroll 0 0 white;
}
/* line 29, ../../sass/layouts/admin.sass */
#content a {
  font-family: courier;
  font-weight: bold;
}

/* line 33, ../../sass/layouts/admin.sass */
#inside {
  background: white;
}

/* line 36, ../../sass/layouts/admin.sass */
#finalLine {
  margin-top: 0;
  margin-bottom: 30px;
}

/* line 40, ../../sass/layouts/admin.sass */
#lineaHeader {
  background-color: #73822f;
  height: 25px;
  min-height: 25px;
}

/* line 45, ../../sass/layouts/admin.sass */
#lineaTop {
  background-color: #73822f;
  line-height: 30px;
  min-height: 10px;
}
/* line 49, ../../sass/layouts/admin.sass */
#lineaTop a, #lineaTop .separador {
  color: white;
  font-weight: normal;
}
/* line 53, ../../sass/layouts/admin.sass */
#lineaTop .separador {
  margin: 0 1em;
}

/* line 59, ../../sass/layouts/admin.sass */
#logo {
  max-width: none;
  position: relative;
  vertical-align: bottom;
}

/* line 64, ../../sass/layouts/admin.sass */
#logoFooter {
  border-left: 1px solid white;
  padding-left: 30px;
}

/* line 68, ../../sass/layouts/admin.sass */
#nombreSeccion {
  border-bottom: 1px solid;
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: 17pt;
  margin: 0 0 31px 5%;
  padding-bottom: 10px;
  width: 45%;
}

/* line 78, ../../sass/layouts/admin.sass */
#outside {
  background-color: #b1a077;
}
