/* line 3, ../../sass/layouts/default.sass */
a {
  color: #73822f;
}
/* line 6, ../../sass/layouts/default.sass */
a:hover {
  color: #525d21;
  text-decoration: none;
}

/* line 10, ../../sass/layouts/default.sass */
body {
  color: black;
}

/* line 13, ../../sass/layouts/default.sass */
footer {
  background-color: #73822f;
  color: white;
  font-family: serif;
  padding-top: 10px;
  padding-bottom: 30px;
}

/* line 21, ../../sass/layouts/default.sass */
.fondoBlanco {
  background: none repeat scroll 0 0 white;
}

/* line 24, ../../sass/layouts/default.sass */
.fondoMarron {
  background: none repeat scroll 0 0 #b1a077;
}

/* line 28, ../../sass/layouts/default.sass */
.container {
  background-color: #b1a077;
  box-shadow: 0 0 30px #4d3e2f;
}

/* line 32, ../../sass/layouts/default.sass */
.right {
  text-align: right;
}

/* line 35, ../../sass/layouts/default.sass */
#banner {
  background: url('../../img/top/sauce.jpg?1367160351') no-repeat;
  background-size: 100%;
  height: 180px;
}

/* line 40, ../../sass/layouts/default.sass */
#content {
  padding-top: 1em;
}

/* line 48, ../../sass/layouts/default.sass */
#content a {
  font-family: courier;
  font-weight: bold;
}

/* line 52, ../../sass/layouts/default.sass */
#finalLine {
  margin-top: 0;
  margin-bottom: 30px;
}

/* line 56, ../../sass/layouts/default.sass */
#logo {
  margin: 25px -400px;
  max-width: none;
  position: relative;
}

/* line 61, ../../sass/layouts/default.sass */
#logoFooter {
  border-left: 1px solid white;
  padding-left: 30px;
}

/* line 65, ../../sass/layouts/default.sass */
#menu {
  background-color: #e5fcb8;
  color: #73822f;
  font-family: monospace;
  font-size: 16pt;
  line-height: 24pt;
  padding-left: 30px;
}

/* line 73, ../../sass/layouts/default.sass */
#rampa {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  border-bottom: 180px solid black;
  border-left: 200px solid black;
  border-right: 70px solid transparent;
  height: 0;
  margin-left: 90px;
  margin-top: -1px;
  padding-right: 20px;
  width: 120px;
}
