@import compass/css3, colors

a, .btn-link
	color: $verde
	&:hover, &:focus
		color: darken($verde, 10%)
		text-decoration: none

body
	background-color: $verdeFondo
	color: $negro

footer
	background-color: $verde
	color: $blanco
	font-family: serif
	padding-top: 10px
	padding-bottom: 30px

.bannerAside
	margin-top: 1em

.container
	background-color: $marron
	box-shadow: 0 0 30px #4D3E2F

.fondoBlanco
	background: none repeat scroll 0 0 $blanco

.fondoMarron
	background: none repeat scroll 0 0 $marron

.right
	text-align: right

#banner
	background: image-url('top/sauce.jpg') no-repeat
	background-size: 105%
	height: 180px

#content
	padding-bottom: 3em
	padding-top: 1em

#content a
	font-family: courier
	font-weight: bold

#finalLine
	margin-top: 0
	margin-bottom: 30px

#logo
	margin: 25px -400px
	max-width: none
	position: relative

#logoFooter
	border-left: 1px solid $blanco
	padding-left: 30px

#nav
	background-color: $verdeClaro
	color: $verde
	font-family: monospace
	font-size: 16pt
	line-height: 24pt

#rampa
	+opacity(0.5)
	border-bottom: 180px solid $negro
	border-left: 200px solid $negro
	border-right: 70px solid transparent
	height: 0
	margin-left: 90px
	margin-top: -1px
	padding-right: 20px
	width: 120px


