footer
  background-color: #73822F
  padding-top: 10px
  
.container
  background-color: #B1A077
  
.right
  text-align: right
  
#banner
  background: image-url('top/sauce.jpg') no-repeat
  background-size: 100%
  height: 180px
  
#bannerText
  
#content
  margin-left: 2.5%
  padding: 0
  width: 95%

#finalLine
  margin-top: 0

#menu
  background-color: #E5FCB8
  color: #73822F

#rampa
  border-bottom: 180px solid black
  border-left: 200px solid black
  border-right: 70px solid transparent
  height: 0
  margin-left: 90px
  margin-top: -1px
  opacity: 0.5
  padding-right: 20px
  width: 120px
  

