/* line 3, ../../sass/errors/missing.sass */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 7, ../../sass/errors/missing.sass */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 11, ../../sass/errors/missing.sass */
footer p {
  color: white;
}

/* line 14, ../../sass/errors/missing.sass */
h1, h3, p, li {
  color: #737373;
}

/* line 17, ../../sass/errors/missing.sass */
h1 {
  margin: 0;
  font-size: 50px;
  text-align: left;
}

/* line 22, ../../sass/errors/missing.sass */
h1 span {
  color: #bbbbbb;
}

/* line 25, ../../sass/errors/missing.sass */
h3 {
  margin: 1.5em 0 0.5em;
}

/* line 28, ../../sass/errors/missing.sass */
p {
  margin: 1em 0.3em;
}

/* line 31, ../../sass/errors/missing.sass */
ul {
  padding: 0 0 0 40px;
  margin: 1em 0;
}

/* google search */
/* line 36, ../../sass/errors/missing.sass */
#goog-fixurl ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 41, ../../sass/errors/missing.sass */
#goog-fixurl form {
  margin: 0;
  margin-bottom: 1em;
}

/* line 45, ../../sass/errors/missing.sass */
#goog-wm-qt,
#goog-wm-sb {
  border: 1px solid #bbbbbb;
  font-size: 16px;
  line-height: normal;
  vertical-align: top;
  color: #444444;
  border-radius: 2px;
}

/* line 54, ../../sass/errors/missing.sass */
#goog-wm-qt {
  width: 220px;
  height: 20px;
  padding: 5px;
  margin: 5px 10px 0 0;
  box-shadow: inset 0 1px 1px #cccccc;
}

/* line 61, ../../sass/errors/missing.sass */
#goog-wm-sb {
  *overflow: visible;
  *display: inline;
  *zoom: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: whitesmoke;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), #f1f1f1);
  cursor: pointer;
  display: inline-block;
  height: 32px;
  margin: 5px 0 0;
  padding: 0 10px;
  white-space: nowrap;
}

/* line 80, ../../sass/errors/missing.sass */
#goog-wm-sb:hover,
#goog-wm-sb:focus {
  border-color: #aaaaaa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
}

/* line 86, ../../sass/errors/missing.sass */
#goog-wm-qt:hover,
#goog-wm-qt:focus {
  border-color: #105cb6;
  outline: 0;
  color: #222222;
}

/* line 92, ../../sass/errors/missing.sass */
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
