/* line 3, ../../sass/pages/info.sass */
p.info {
  color: black;
  font-size: 11pt;
  font-weight: normal;
  text-align: justify;
}

/* line 9, ../../sass/pages/info.sass */
h1.title {
  font-family: sans-serif;
  font-size: 16pt;
  margin-bottom: 0;
  padding-left: 20px;
}

/* line 15, ../../sass/pages/info.sass */
hr.title {
  border: 1px solid;
  display: block;
  margin: 0 0 20px 0;
  min-height: 0 !important;
}

/* line 21, ../../sass/pages/info.sass */
.absolute {
  position: absolute;
}

/* line 24, ../../sass/pages/info.sass */
.bottomCero {
  bottom: 0;
}

/* line 27, ../../sass/pages/info.sass */
.relative {
  position: relative;
}

/* line 30, ../../sass/pages/info.sass */
.rightCero {
  right: 0;
}

/* line 33, ../../sass/pages/info.sass */
.title {
  color: #73822f;
}

/* line 36, ../../sass/pages/info.sass */
#contacto {
  margin-left: 2.5%;
}

/* line 39, ../../sass/pages/info.sass */
#iconoMapa {
  margin: 315px 0 0 200px;
  position: absolute;
}
